@import './fonts.css';
@import './reset.css';
@import './common.css';





/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
  opacity: 0;
}
header h1 {
  width: 50px;
}
header h1 a {
  display: block;
  width: 100%;
}
header h1 a img {
  width: 100%;
}
header #gnb {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header #gnb ul {
  display: flex;
  gap: 20px;
}
header #gnb li {
  color: #fff;
  font-size: 16px;
}
header #gnb li a {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
}




/* footer */
footer {
  margin-top: 200px;
  padding: 5% 0;
  text-align: center;
  background: #222;
  border-radius: 50px 50px 0 0;
}
footer h3 {
  font-weight: bold;
  color: #fff;
  font-size: 150px;
  width: 80%;
  margin: 0 auto;
}
footer .btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
footer .btn-link a {
  border: 0.13rem solid #fff;
  color: #ccc;
  padding: 8px 40px;
  font-size: 18px;
  border-radius: 10px;
  transition: .3s;
}
footer .btn-link a:hover {
  background: #fff;
  color: #333;
}

footer address {
  color: #fff;
}

footer address .addr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 30px;
  font-weight: 300;
}
footer address .addr:first-child {
  margin-bottom: 5px;
}
footer address .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

footer small {
  color: #fff;
  font-size: 16px;
  margin-top: 80px;
  display: block;
  font-weight: 300;
}





@media (max-width:768px) {
  footer {
    padding: 20% 0;
  }
  footer h3 {
    font-size: 2rem;
  }
  header {
    height: 60px;
    padding: 0 20px;
  }
  header h1 {
    width: 30px;
  }
}