@import './fonts.css';
@import './reset.css';
@import './common.css';





footer {
  padding: 10% 0;
  text-align: center;
}
footer h3 {
  color: #fff;
  font-size: 5rem;
  width: 80%;
  margin: 0 auto;
}
footer .btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
footer .btn-link a {
  font-family: 'PPNeueMontreal';
  border: 1px solid #fff;
  color: #ccc;
  padding: 8px 40px;
  font-size: 18px;
  border-radius: 10px;
  transition: .3s;
}
footer .btn-link a:hover {
  background: #fff;
  color: #333;
}

small {
  font-family: 'PPNeueMontreal';
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  display: block;
}



@media (max-width:768px) {
  footer {
    padding: 20% 0;
  }
  footer h3 {
    font-size: 2rem;
  }
}