






/* 인트로 영역 */
.intro {
  position: fixed;
  top: 0;left: 0;
  right: 0;bottom: 0;
  background: #fff;
  z-index: 10;
}
.intro .img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.intro .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  opacity: 0;
}

.intro .img-wrap img.on {
  opacity: 1;
}
.intro .guage-area {
  display: flex;
  align-items: center; 
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: #000;
  border-radius: 50%;
}









/* sc-visual */
.sc-visual {
  position: relative;
  height: 500vh;
}
.sc-visual .sticky-wrapper {
  height: 500vh;
}
.sc-visual .sticky {
  position: sticky;
  top: 0;
}
.sc-visual .inner {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}
.sc-visual .main-cont {
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  z-index: 100;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
}
.sc-visual .main-cont .group-top {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom:100px;
  overflow: hidden;
}
.sc-visual .main-cont .group-center {
  text-align: center;
  font-weight: 500;
  line-height: .95;
}
.sc-visual .main-cont .group-center > span {
  display: block;
} 
/* 메인텍스트 */
.sc-visual .main-cont .group-center .hero-line {
  display: block;
  font-size:8vw;
  overflow: hidden;
  text-align: center;
}
.sc-visual .main-cont .group-center .line-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sc-visual .main-cont .group-center .hero-picto {
  height: 100px;
  width:auto;
  display:inline-block;
}
.sc-visual .main-cont .group-center .hero-picto svg,
.sc-visual .main-cont .group-center .hero-picto img {
  height: 100%;
  overflow: hidden;
  width: auto;
}
.sc-visual .main-cont .group-center span.ani {
  background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}
@-moz-keyframes shine {
  0% {background-position: 0;}
  60% {background-position: 540px;}
  100% {background-position: 720px;}
  }
  @-webkit-keyframes shine {
  0% {background-position: 0;}
  60% {background-position: 540px;}
  100% {background-position: 720px;}
  }
  @-o-keyframes shine {
  0% {background-position: 0;}
  60% {background-position: 540px;}
  100% {background-position: 720px;}
  }
  @keyframes shine {
  0% {background-position: 0;}
  60% {background-position: 540px;}
  100% {background-position: 720px;}
  }
.sc-visual .main-cont .group-bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.sc-visual .main-cont .group-bottom h4 {
  font-weight: 400;
  font-size:25px;
  color: #333;
}
.sc-visual .main-cont .group-bottom a {
  align-items: center;
  background: #000;
  border-radius: 130px;
  color: #fff;
  display: flex;
  font-size: 18px;
  margin-top: 58px;
  font-weight: 400;
  padding: 8px 10px;
  justify-content: center;
  width: 240px;
}
.sc-visual .main-cont .group-bottom a img {
  filter: invert(1);
  display: inline-block;
  padding-right: 10px;
}






/* my projects */
.section-wrap {
  position: relative;
  text-align: center;
  margin-top: 50vh;
}
.section-wrap .sticky-wrapper {
  height: 800vh;
  position: relative;
}
.section-wrap .sticky {
  position: sticky;
  top: 0;
}
.section-wrap .inner {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}
.section-wrap section {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  height: 100%;
  width: 100%;
}
.section-wrap section img {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: inline-block;
  pointer-events: none;
  z-index: 200;
  height: 100%;
  max-width: 80%;
  object-fit: cover;
}
.section-wrap section .title {
  color: #fff;
  background-color: #000;
  z-index: 300;
  transform: translateY(100vh);
  position: relative;
  padding: 20px 0 30px;
} 

.section-wrap section .title .headline {
  font-size: 8vw;
  font-weight: bold;
}
.section-wrap section .title .headline span {
  font-size: 5vw;
  font-weight: 400;
}
.section-wrap section .title .sub-tit {
  position: relative;
  /* font-family: 'PPNeueMontreal'; */
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}
.section-wrap section .title .sub-tit span {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
}

.section-wrap section .title .sub-tit a {
  padding: 10px 5px;
  display: inline-block;
  border-radius: 10px;
  border: 0.12rem solid #fff;
  font-size: 20px;
  position: relative;
  transition: .3s;
  width: 15%;
  margin: 0 3px 0;
}

.section-wrap section .title .sub-tit a:hover {
  border: none;
  color: #fff;
}
.section-wrap .section01 .title .sub-tit a:hover {
  background-color: #0a0255;
}
.section-wrap .section02 .title .sub-tit a:hover {
  background-color: #e00011;
}
.section-wrap .section03 .title .sub-tit a:hover {
  background-color: #82dc28;
}
.section-wrap .section04 .title .sub-tit a:hover {
  background-color: #ff4b67;
}
.section-wrap .section05 .title .sub-tit a:hover {
  background-color: #e3bd5a;
}
.section-wrap .section06 .title .sub-tit a:hover {
  background-color: #16a340;
}

.section-wrap section .title .sub-tit .sub-title {
  font-size: 22px;
  letter-spacing: -0.04em;
  /* font-family: 'Noto Sans KR'; */
}










/* sc-intro 공통 */
.sc-intro .sticky-wrapper {
  height: 30vh;
}
.sc-intro .sticky {
  position: sticky;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.sc-intro .inner,
.sc-intro .intro-cont {
  height: 100%;
}
.sc-intro .intro-cont .wrap {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  color: #fff;
  height: 100%;
}

.sc-intro .intro-cont .num {
  display: flex;
  font-size: 18vw;
  line-height: .8;
  transform: translate(-3.5%);
  font-weight: 500;
}
.sc-intro .intro-cont .change {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sc-intro .intro-cont .curr {
  position: absolute;
}
.sc-intro .intro-cont .curr:last-child {
  position: relative;
}
.sc-intro .intro-cont .curr {
  transform: translateY(100%);
}

.sc-intro .intro-cont .section-title {
  color: #FFF;
  /* font-family: 'PPNeueMontreal'; */
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
  opacity: 0;
  text-align: right;
  padding-right: 5%;
  margin-top: 30px;
}

.sc-intro-2 {
  margin-top: 40vh;
}
.sc-intro-3  {
  padding-top: 80vh;
}
.sc-intro.sc-intro-2 .intro-cont .wrap,
.sc-intro.sc-intro-2 .intro-cont .section-title {
  color: #000;
}





/* sc-banner */
.sc-banner {
  font-weight: bold;
  padding-top: 300px;
  overflow: hidden;
}
.sc-banner .banner-line {
  display: flex;
  font-weight: 500;
  flex-shrink: 0;
  height: auto;
  padding: 5px 0;
  font-size: 30px;
}
.sc-banner .banner-line.line-2 {
  justify-content: flex-end;
}
.sc-banner .banner-line > div {
  display: flex;
}
.sc-banner .banner-line span {
  display: flex;
  align-items: center;
  height: 100%;
}
.sc-banner .banner-line span.ico-banner {
  height: auto;
  width: 100%;
}
.sc-banner .hero-picto {
  display: flex;
  align-items: center;
  margin: 0 25px;
}
.sc-banner .picto-inner {
  display: flex;
  width: 150px;
}
.sc-banner .hero-picto img {
  height: auto;
  width: auto; 
}
.sc-banner .line-1 {
  background: #fff;
  color: #000;
}
.sc-banner .line-2 {
  background: #000;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.sc-banner img {
  height: 100%;
  overflow: hidden;
  width: auto;
}
.sc-banner .banner {
  display: flex;
  flex-direction: column;
}
.sc-banner .banner.line-1 {
  align-items: flex-start;
}
.sc-banner .banner.line-2 {
  align-items: flex-end;
}
.sc-banner .gtspan-cont {
  padding: 0 50px;
}
.sc-banner .gtspan-cont span {
  color: rgba(68, 68, 68,0.5);
  font-size: 100px;
  font-weight: bold;
}







/* animation -curtain */
.curtain-wrapper {
  position: relative;
  height: 100vh;
  z-index: 100;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: transparent;
}



/* sc-fropj */
/* my projects */
.section02-wrap {
  position: relative;
  text-align: center;
  margin-top: 50vh;
}
.section02-wrap .sticky-wrapper {
  height: 1200vh;
  position: relative;
}

.section02-wrap .sticky {
  position: sticky;
  top: 0;
}
.section02-wrap .inner {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}




.section02-wrap .sticky-wrapper .fix-txt-wrapper {
  /* font-family: "Kanit", sans-serif; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #000;
  overflow: hidden;
}

.section02-wrap .sticky-wrapper .fix-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  width: 50%;
  text-transform: uppercase;
}
.section02-wrap .material-symbols-outlined {
  font-size: 50px !important;
}
.section02-wrap .sticky-wrapper .fix-txt span.under {
  border-bottom: 0.13rem solid #666;
}
.section02-wrap .sticky-wrapper .fix-txt span.fe {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.section02-wrap .sticky-wrapper .fix-txt img {
  width: 10%;
  display: inline-block;
}


.section02-wrap section {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  height: 100vh;
  width: 65%;
}

.section02-wrap section .img-area {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: -100vh;
  opacity: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.section02-wrap section .img-area img {
  display: inline-block;
  object-fit: cover;
  transition: .3s;
}

.section02-wrap section .img-area .desc {
  opacity: 0;
  transition: .3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0,0.4);
  z-index: 100;
}
.section02-wrap section .img-area .desc ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content : space-between;
  align-items : center;
}

.section02-wrap section .img-area .desc ul li:nth-child(1) {
  flex: 1;
  font-size: 55px;
  font-weight: bold;
  color: #fff;
}
.section02-wrap section .img-area .desc ul li:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 30px;
  color: #eee;
}

.section02-wrap section .img-area .desc ul li:nth-child(2) span {
  position: relative;
}
.section02-wrap section .img-area .desc ul li:nth-child(2) span:after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: '';
  display: block;
  transform: scale(0);
  border-bottom: 0.13rem solid #fff;  
  transition: transform 0.5s ease-in-out;
}

.section02-wrap section .img-area .desc .btn-link {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 13px;
}
.section02-wrap section .img-area .desc .btn-link a {
  background: #fff;
  color: #333;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  transition: .3s;
}


.section02-wrap section .img-area:hover .desc {
  opacity: 1;
}
.section02-wrap section .img-area:hover ul li:nth-child(2) span:after { 
  transform: scaleX(1); 
}
.section02-wrap section .img-area:hover img {
  filter: blur(1.5px);
}
.section02-wrap section .img-area .desc .btn-link a:hover {
  opacity: 0.5;
}








.sc-fe {
  margin-top: 5vh;
}

.sc-fe .list-cont {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
  '. img1 img1'
  'img2 img2 .'
  '. img3 img3'
  ;
}

.sc-fe li:nth-child(1) {
  grid-area: img1;
}
.sc-fe li:nth-child(2) {
  grid-area: img2;
}
.sc-fe li:nth-child(3) {
  grid-area: img3;
}



/* .sc-fe li img {
  width: 30%;
} */


.sc-fe .item_list {
  position: relative;
  height: 500px;
}

.sc-fe .item_list .ori-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sc-fe .item_list:hover .ori-img {
  opacity: 0;
}

.sc-fe .item_list .hv-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  transition: opacity 426ms cubic-bezier(0.59, 0.99, 1, 1.25);
}
.sc-fe .item_list:hover .hv-img {
  opacity: 1; 
}

.sc-fe .item_list .item_cont {
  display: flex;
  width: 100%;
  height: 100%;
}
.sc-fe .thumb-area {
  position: relative;
  flex: 3;
  height: 100%;
}
.sc-fe .info-area {
  flex: 2;
  color: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
.sc-fe .info-area p {
  width: 100%;
  font-size: 24px;
}
.sc-fe .info-area .desc-list {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
}
.sc-fe .info-area .btn-link {
  margin-top: 30px;
}

.sc-fe .info-area .btn-link a {
  border: 0.12rem solid #000;
  border-radius: 10px;
  padding: 5px 8px;
  transition: .3s;
}
.sc-fe .info-area .btn-link a:hover {
  background: #000;
  color: #fff;
}

.sc-fe .item_list:nth-child(1) {
  background: #f3c7c0;
}
.sc-fe .item_list:nth-child(2) {
  background: #ff7843;
}
.sc-fe .item_list:nth-child(3) {
  background: #c5b48a;
}















/* sc-work */
.sc-work {
  /* font-family: "Kanit", sans-serif; */
  margin-top: 30vh;
  padding: 0 50px;
}
.sc-work .title {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  margin-bottom: 30px;
} 

.sc-work .work-item {
  color: #fff;
  letter-spacing: -0.05rem;
  background: #000;
  border-radius: 20px;
}
.sc-work .work-item:hover {
  color: #eee;
  border: 0.13rem solid #eee;
}

.sc-work .work-item+.work-item {
  margin-top: 20px;
}
.sc-work .work-item a {
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc-work .work-item .info-area {
  flex: 1;
  height: 100%;
}
.sc-work .work-item .info-area p {
  font-size: 80px;
}

.sc-work .work-item .thumb-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  overflow: hidden;
  height: 200px;
  flex: 1;
}
.sc-work .work-item .thumb-area p {
  font-size: 35px;
  color: #eee;
}

.sc-work .work-item .thumb-area .hover {
  position: absolute;
  right: 0;
  transform: translateY(-100%);
  transition: .3s;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid red;
  height: 100%;
}
.sc-work .work-item .thumb-area .hover li {
  flex: 1;
  height: 100%;
  object-fit: contain;
}
.sc-work .work-item .thumb-area .hover li img {
  height: 100%;
}


/* .sc-work .work-item .thumb-area:hover p {
  transform: translateY(-100%); 
}

 */

/* .sc-work .work-item .thumb-area:hover .hover {
  top: 0;
} */



/* .sc-work .work-list {
  position: relative;
  display: flex;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-flow: wrap;
}
.sc-work .list_li {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  border: 0.12rem solid #666;
}
.sc-work .list_li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-work .list_li.every {
  width: calc(66.6666% - 0.625rem);
}
.sc-work .list_li.jamong {
  width: calc(33.3333% - 0.625rem);
}
.sc-work .list_li.xarvis {
  width: calc(33.3333% - 0.625rem);
}
.sc-work .list_li.edg {
  width: calc(66.6666% - 0.625rem);
}





.sc-work .list_li .txt {
  width: 100%;
  display: flex;align-items: center;gap: 30px;
  border-bottom: 1px solid rgba(255, 255, 255,0.5); 
}
.sc-work .list_li p {
  font-family: 'PPNeueMontreal';
  letter-spacing: -.04em;
  font-weight: 500;
  font-size: 100px;
  color: #fff;
  transition: all .3s ease; 
  padding-left: 20px;
  cursor: pointer;
  font-style: italic;
}
.sc-work .list_li .div_wrap {
  position: absolute; 
  bottom: 0; 
  right: 0;
  visibility: hidden; 
  z-index: 1000;
  width: 30%;
}
.sc-work .list_li .div_wrap img {
  position: absolute;
  bottom: 0;
  right:  0;
  z-index: 1000;
}
.sc-work .list_li:hover p {
  font-weight: bold;
  background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}
@-moz-keyframes shine {
  0% {background-position: 0;}
  60% {background-position: 540px;}
  100% {background-position: 720px;}
}
@-webkit-keyframes shine {
  0% {background-position: 0;}
  60% {background-position: 540px;}
  100% {background-position: 720px;}
}
@-o-keyframes shine {
  0% {background-position: 0;}
  60% {background-position: 540px;}
  100% {background-position: 720px;}
}
@keyframes shine {
  0% {background-position: 0;}
  60% {background-position: 540px;}
  100% {background-position: 720px;}
} */












.sc-exp {
  color: #fff;
  margin-top: 50vh;
  padding: 0 20px;
  opacity: 0;
}

.sc-exp {
  display: flex;
}

.sc-exp .title {
  font-size: 50px;
  flex: 1;
  text-transform: uppercase;
}

.sc-exp ul {
  flex: 3;
}
.sc-exp li p {
  font-size: 26px;
}
.sc-exp p strong {
  font-size: 50px;
  display: block;
}
.sc-exp li {
  background: #222;
  display: flex;
  border-radius: 15px;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.sc-exp li+li {
  margin-top: 15px;
}


.sc-exp li .thumb-area {
  border-radius: 10px;
  overflow: hidden;
}

.sc-exp li .info-area {
  font-size: 20px;
  width: 100%;
}
.sc-exp li .info-area > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sc-exp li .info-area > div span:nth-child(1) {
  font-size: 20px;
  color: #888;
}
.sc-exp li .info-area > div span:nth-child(2) {
  color: #ccc;
  font-size: 18px;
  font-weight: 300;
}








/* @media (max-width:1920px) {
  .sc-work {
    padding: 0 20px;
  }

}
@media (max-width:1700px) {
  .section02-wrap section .img-area .desc ul li:nth-child(2) {
    font-size: 20px;
  }
}
@media (max-width:1500px) {
  .section02-wrap .sticky-wrapper .fix-txt {
    font-size: 60px;
  }

}


@media (max-width:1440px) {
  .sc-work .list_li p {
    font-size: 80px;
  }
}



@media (max-width:1224px) {

  .section02-wrap .sticky-wrapper .fix-txt {
    font-size: 50px;
  }
  .section02-wrap section {
    width: 80%;
  }
  .section02-wrap section .img-area img {
    object-fit: contain;
  }


  .sc-intro .inner, .sc-intro .intro-cont {
    width: 100%;
  }
  .sc-intro .sticky,
  .sc-intro .intro-cont .wrap {
    justify-content: center;
  }
  .sc-intro .intro-cont .section-title {
    font-size: 3rem;
    padding-right: 0;
    margin-top: 0;
    text-align: center;
    width: 45%;
    margin: 0 auto;
  }
  .sc-intro .sticky-wrapper {
    height: 25vh;
  }
  .sc-work .list_li p {
    font-size: 60px;
  }
}



@media (max-width:1200px) {

  .sc-visual .main-cont .group-center .hero-line  {
    font-size: 10vw;
  }
  .sc-intro .sticky-wrapper {
    height: 25vh;
  }
  .section-wrap section .title .headline {
    font-size: 7vw;
  }
  .section-wrap section .title .sub-tit .sub-title,
  .section-wrap section .title .sub-tit span {
    font-size: 18px;
  }
  .section-wrap section .title .sub-tit a {
    width: 30%;
    padding: 10px;
    font-size: 16px;
  }
  .sc-fropj .swiper-slide,
  .sc-fropj .swiper-slide .info-area {
    width: 80% !important;
  }
  .sc-fropj .navi-prev {
    left: 20%;
  }
  .sc-fropj .navi-next {
    left: 80%;
  }
}


@media (max-width:1024px) {
  .sc-visual .main-cont .group-center .hero-line  {
    font-size: 7vw;
  }
  .section-wrap section img {
    width: 70%;
  }
  .section-wrap section .title .sub-tit .sub-title,
  .section-wrap section .title .sub-tit span {
    font-size: 16px;
  }
  .section-wrap section .title .sub-tit a {
    width: 40%;
    padding: 10px;
    font-size: 15px;
  }
  .sc-fropj .swiper-slide {
    width: 80% !important;
  }
  .sc-fropj .swiper-slide .info-area h3 {
    font-size: 20px;
  }
  .sc-fropj .swiper-slide .info-area li {
    font-size: 14px;
    padding: 5px 8px;
  }
  .sc-fropj .swiper-slide .info-area a {
    font-size: 15px;
    padding: 8px 20px;
  }
  .sc-fropj .navi-next:before,
  .sc-fropj .navi-prev:before {
    font-size: 25px;
  }
}



@media (max-width:768px) {

  .sc-visual .main-cont .group-center .hero-line {
    font-size: 8vw;
  }
  .sc-intro .sticky-wrapper {
    height: 15vh;
  }
  .sc-intro .intro-cont .section-title {
    font-size: 2rem;
    width: 50%;
  }
  .section-wrap section .title .headline {
    font-size: 10vw;
  }
  .section-wrap section img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .section-wrap section .title .sub-tit a {
    width: 50%;
    padding: 10px 5px;
    font-size: 14px;
  }
  .section-wrap section .title .sub-tit a {
    margin-top: 10px;
  }
  .sc-banner {
    font-size: 30px;
  }
  .sc-banner .banner-line span {
    font-size: 18px;
  }
  .sc-banner .hero-picto {
    margin: 0 5px;
  }
  .sc-banner .banner-line span.ico-banner {
    width: 10%;
  }
  .sc-fropj .swiper-slide .info-area {
    width: 90%;
  }
  .sc-banner,
  .sc-work {
    margin-top: 30vh;
  }
  .sc-work .list_li p {
    font-size: 2rem;
  }
  .sc-work .list_li .div_wrap {
    display: none;
  }
  .sc-fropj .swiper-slide video {
    border-radius: 0;
  }
  .sc-fropj .swiper-slide .info-area {
    margin-top: 20px;
    width: 90% !important;
    padding: 10px;
  }
 .sc-fropj .swiper-slide .info-area h3 {
    font-size: 16px;
    text-align: center;
  }
  .sc-fropj .swiper-slide .info-area ul {
    gap: 0;
  }
  .sc-fropj .swiper-slide .info-area li {
    font-size: 14px;
    padding: 5px 8px;
    border: none;
  }
  .sc-fropj .swiper-slide .info-area a {
    font-size: 15px;
    padding: 10px 5px;
    flex: 1;
    text-align: center;
  }
  .sc-fropj .navi-next:before,
  .sc-fropj .navi-prev:before {
    font-size: 20px;
  }
  .sc-fropj .navi-prev {
    left: 15%;
  }
  .sc-fropj .navi-next {
    left: 85%;
  }
  .sc-fropj .swiper-slide .info-area .btn-link {
    width: 100%;
    max-width: 80%;
    justify-content: space-between;
    gap: 10px;
  }
}



@media (max-width:550px) {
  .sc-intro .sticky-wrapper {
    height: 10vh;
  }

} */